$background: white;
$foreground: black;
$foreground-dimmed: #222;
$foreground-light: #444;
$foreground-secondary: #222;
$shadow: #0008;

$code-background: #123;

$hero-background: #e3e4e8;
$hero-line: #fff;

$footer-background: #e3e4e8;

$tag-background: black;
$tag-foreground: white;
$tag-hover: black;
$tag-border: solid 1px #444;