$texture: url('/assets/leather.png');
$texture-overlay: #080808aa;
$texture-size: 350px;

$site-background: $texture;
$content-background: $texture;
$footer-background: #080808;

$foreground: #fff;
$foreground-secondary: #aaa;
$shadow: black;

$link: #ccc;
$link-hover: #fff;

$hero-background: $texture;
$hero-line: $texture-overlay;

$footer-background: transparent;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: solid 1px #fff5;