$background: #000;
$foreground: #fff;
$foreground-light: #fff;
$hero-background: url('/assets/leather.png'), #222;
$box: #f0f0f0;

html, body {
  color: $foreground;
  background-color: $background;
}

.site-header, .hero {
  background: $hero-background;
  background-size: 350px;
}

a, a:visited {
  color: $foreground;
  font-weight: bold;
}

a:hover {
  color: $foreground-light;
}