.hero-line {
  background: linear-gradient(to top left, $texture-overlay 0%, $texture-overlay 50%, transparent 50%, transparent 100%) !important;
}

.home {
  .hero-line {
    margin-top: -165px;
    margin-bottom: 80px;
  }
}