body {
  background: linear-gradient($texture-overlay, $texture-overlay), $texture;
  background-size: $texture-size;
}

.site-header {
  .logo {
    filter: drop-shadow(0 1mm 4mm $shadow) !important;
  }

  box-shadow: none !important;
}

a:hover, a:visited:hover {
  text-shadow: 1px 2px 15px $shadow;
}

footer {
    background: $texture-overlay !important;
}

.wrapper article {

  img {
    box-shadow: none;
  }
}